@model troca_games.Models.Jogo

@{
    ViewData["Title"] = "Cancelar Reserva";
}

<h1>Cancelar Reserva</h1>

<h3>Tem certeza que deseja cancelar a reserva esse jogo?</h3>
<br />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Console)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Console)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NegociacaoJogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NegociacaoJogo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CondicaoJogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CondicaoJogo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CancelarReserva">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" value="@Model.Nome" id="Nome" name="Nome" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" value="@Model.Console" id="Console" name="Console" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" value="@Model.NegociacaoJogo" id="NegociacaoJogo" name="NegociacaoJogo" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" value="@Model.CondicaoJogo" id="CondicaoJogo" name="CondicaoJogo" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" value="@Model.Valor" id="Valor" name="Valor" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" value="@Model.Vendedor" id="Vendedor" name="Vendedor" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" value="@Model.Email" id="Email" name="Email" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" value="0" id="Status" name="Status" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" value="@Model.Comprador" id="Comprador" name="Comprador" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" value="0" id="Aviso" name="Aviso" required class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cancelar Reserva" class="btn btn-outline-success" />
                <a asp-controller="JogosReservados" asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
