@model IEnumerable<troca_games.Models.Jogo>

@{
    ViewData["Title"] = "Jogos Reservados";

    <style>
        body {
            background-color: rgb(248,248,248);
            font-family: Verdana;
        }
    </style>
}

<h1 style="font-size:30px">Jogos Reservados</h1>

<table class="table" style="margin-top:10px">
    <thead>
        <tr>
            <th style="font-size:14px">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th style="font-size:14px">
                @Html.DisplayNameFor(model => model.Console)
            </th>
            <th style="font-size:14px">
                @Html.DisplayNameFor(model => model.NegociacaoJogo)
            </th>
            <th style="font-size:14px">
                @Html.DisplayNameFor(model => model.CondicaoJogo)
            </th>
            <th style="font-size:14px">
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th style="font-size:14px">
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th style="font-size:14px">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="font-size:14px">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (User.Identity?.Name == item.Comprador & item.Aviso == Aviso.Reservado)
            {
                <tr>
                    <td style="font-size:14px">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td style="font-size:14px">
                        @Html.DisplayFor(modelItem => item.Console)
                    </td>
                    <td style="font-size:14px">
                        @Html.DisplayFor(modelItem => item.NegociacaoJogo)
                    </td>
                    <td style="font-size:14px">
                        @Html.DisplayFor(modelItem => item.CondicaoJogo)
                    </td>
                    <td style="font-size:14px">
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td style="font-size:14px">
                        @Html.DisplayFor(modelItem => item.Vendedor)
                    </td>
                    <td style="font-size:14px">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td style="font-size:14px">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="DetalhesJogo" asp-route-id="@item.Id" class="btn btn-secondary" style="font-size:14px">Detalhes</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
