@model IEnumerable<troca_games.Models.Jogo>

@{
    ViewData["Title"] = "Jogos";
}

<h1>Jogos para Comprar</h1>

<div>
    <a asp-action="Index" class="btn btn-outline-dark">Lista de todos os Jogos</a>
</div>
<br />

<div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-controller="Jogos" asp-action="Comprar">
            <input name="searchString" class="form-control me-1" type="search" placeholder="Pesquisar Jogo" aria-label="Search">
            <a asp-action="Comprar" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Console)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NegociacaoJogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondicaoJogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.NegociacaoJogo == NegociacaoJogo.Venda)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Console)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NegociacaoJogo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CondicaoJogo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @if (User.IsInRole("User"))
                        {
                            <a asp-action="DetalhesJogo" asp-route-id="@item.Id" class="btn btn-outline-secondary">Detalhes</a>

                            @if (User.Identity.Name != item.Vendedor & item.Status == Status.Disponivel)
                            {
                                <a asp-controller="JogosReservados" asp-action="ReservarJogo" asp-route-id="@item.Id" class="btn btn-outline-success">Reservar</a>
                            }
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="DeletarJogo" asp-route-id="@item.Id" class="btn btn-outline-danger">Deletar</a>
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("User") & User.Identity.Name != item.Vendedor & item.Status == Status.Disponivel)
                        {
                            <form asp-controller="MeusDesejos" asp-action="Adicionar">
                                <input type="hidden" value="@item.Id" id="JogoId" name="JogoId" required class="form-control" />
                                <input type="hidden" value="@User.Identity.Name" id="Usuario" name="Usuario" required class="form-control" />
                                <input type="submit" value="Adicionar a Lista Desejos" class="btn btn-outline-dark" />
                            </form>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>