@model IEnumerable<troca_games.Models.Jogo>

@{
    ViewData["Title"] = "Jogos Usados";

    <style>
        body {
            background-color: rgb(248,248,248);
            font-family: Verdana;
        }
    </style>
}

<h1 style="font-size:30px">Jogos Usados</h1>

<div>
    <a asp-action="Index" class="btn btn-dark" style="font-size:13px">Lista de todos os Jogos</a>
</div>

<div class="row" style="margin-top:10px">
    <div class="col-6">
        <form class="d-flex" asp-controller="Jogos" asp-action="Index">
            <input name="searchString" class="form-control me-1" type="search" placeholder="Pesquisar Jogo" aria-label="Search" style="background-color:whitesmoke; font-size:13px; min-width:250px">
            <a asp-action="Index" class="btn btn-danger" style="font-size:13px">Cancelar</a>
        </form>
    </div>
</div>

<table class="table" style="margin-top:10px">
    <thead>
        <tr>
            <th>
                <p style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.Nome)</p>
            </th>
            <th>
                <p style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.Console)</p>
            </th>
            <th>
                <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.NegociacaoJogo)</p>
            </th>
            <th>
                <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.CondicaoJogo)</p>
            </th>
            <th>
                <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.Valor)</p>
            </th>
            <th>
                <p style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.Status)</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.CondicaoJogo == CondicaoJogo.Usado)
            {
                <tr>
                    <td>
                        <p style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.Nome)</p>
                    </td>
                    <td>
                        <p style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.Console)</p>
                    </td>
                    <td>
                        <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.NegociacaoJogo)</p>
                    </td>
                    <td>
                        <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.CondicaoJogo)</p>
                    </td>
                    <td>
                        <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">R$ @Html.DisplayFor(modelItem => item.Valor)</p>
                    </td>
                    <td>
                        <p style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.Status)</p>
                    </td>
                    <td>
                        @if (User.IsInRole("User"))
                        {
                            <a asp-action="DetalhesJogo" asp-route-id="@item.Id" class="btn btn-secondary d-none d-lg-block" style="width:90px; font-size:13px">Detalhes</a>
                            <a asp-action="DetalhesJogo" asp-route-id="@item.Id" class="btn btn-secondary d-lg-none" style="padding:4px 8px; font-size:16px"><i class="bi bi-file-earmark-text-fill"></i></a>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="DeletarJogo" asp-route-id="@item.Id" class="btn btn-danger" style="font-size:13px">Deletar</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>