@model troca_games.Models.Jogo

@{
    ViewData["Title"] = "Detalhes Jogo";

    <style>
        body {
            background-color: rgb(248,248,248);
            font-family: Verdana;
        }
    </style>
}

<h1 style="font-size:30px">Detalhes do Jogo</h1>

<div style="width:350px; margin-top:20px">
    <dl class="row">
        <dt class="col-6" style="font-size:14px">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-6" style="font-size:14px">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-6" style="font-size:14px">
            @Html.DisplayNameFor(model => model.Console)
        </dt>
        <dd class="col-6" style="font-size:14px">
            @Html.DisplayFor(model => model.Console)
        </dd>
        <dt class="col-6" style="font-size:14px">
            @Html.DisplayNameFor(model => model.NegociacaoJogo)
        </dt>
        <dd class="col-6" style="font-size:14px">
            @Html.DisplayFor(model => model.NegociacaoJogo)
        </dd>
        <dt class="col-6" style="font-size:14px">
            @Html.DisplayNameFor(model => model.CondicaoJogo)
        </dt>
        <dd class="col-6" style="font-size:14px">
            @Html.DisplayFor(model => model.CondicaoJogo)
        </dd>
        <dt class="col-6" style="font-size:14px">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-6" style="font-size:14px">
            R$ @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-6" style="font-size:14px">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class="col-6" style="font-size:14px">
            @Html.DisplayFor(model => model.Vendedor)
        </dd>
        <dt class="col-6" style="font-size:14px">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-6" style="font-size:14px">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-6" style="font-size:14px">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-6" style="font-size:14px">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditarJogo" asp-route-id="@Model.Id" class="btn btn-success" style="font-size:13px">Editar</a>
    <a asp-action="DeletarJogo" asp-route-id="@Model.Id" class="btn btn-danger" style="font-size:13px">Deletar</a>
    <a asp-action="Index" class="btn btn-primary" style="font-size:13px">Voltar</a>
</div>