@model IEnumerable<troca_games.Models.Jogo>

@{
    ViewData["Title"] = "Meus Jogos";

    <style>
        body {
            background-color: rgb(248,248,248);
            font-family: Verdana;
        }
    </style>
}

<h1 style="font-size:30px">Meus Jogos</h1>

<div>
    <a asp-action="AdicionarJogo" class="btn btn-dark" style="font-size:13px">Adicionar novo Jogo</a>
</div>

<table class="table" style="margin-top:10px">
    <thead>
        <tr>
            <th>
                <p style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.Nome)</p>
            </th>
            <th>
                <p style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.Console)</p>
            </th>
            <th>
                <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.NegociacaoJogo)</p>
            </th>
            <th>
                <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.CondicaoJogo)</p>
            </th>
            <th>
                <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.Valor)</p>
            </th>
            <th>
                <p style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.Status)</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (User.Identity.Name == item.Vendedor)
            {
                <tr>
                    <td>
                        <p style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.Nome)</p>
                    </td>
                    <td>
                        <p style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.Console)</p>
                    </td>
                    <td>
                        <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.NegociacaoJogo)</p>
                    </td>
                    <td>
                        <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.CondicaoJogo)</p>
                    </td>
                    <td>
                        <p class="d-none d-md-block" style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.Valor)</p>
                    </td>
                    <td>
                        <p style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.Status)</p>
                    </td>
                    <td>
                        <a asp-action="DetalhesJogo" asp-route-id="@item.Id" class="btn btn-secondary d-none d-lg-block" style="width:90px; font-size:13px">Detalhes</a>
                        <a asp-action="DetalhesJogo" asp-route-id="@item.Id" class="btn btn-secondary d-lg-none" style="padding:4px 8px; font-size:16px"><i class="bi bi-file-earmark-text-fill"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
