@model troca_games.Models.Jogo

@{
    ViewData["Title"] = "@Model.Nome";
}

<h2>@Model.Nome</h2>
<br />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Console)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Console)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NegociacaoJogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NegociacaoJogo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CondicaoJogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CondicaoJogo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comprador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comprador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-primary">Voltar</a>
</div>
