@model IEnumerable<troca_games.Models.Jogo>

@{
    ViewData["Title"] = "Notificações";

    <style>
        body {
            background-color: rgb(248,248,248);
            font-family: Verdana;
        }
    </style>
}

<h1 style="font-size:30px">Notificações</h1>

<table class="table" style="margin-top:10px">
    <thead>
        <tr>
            <th style="font-size:14px">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th style="font-size:14px">
                @Html.DisplayNameFor(model => model.Aviso)
            </th>
            <th style="font-size:14px">
                Usuário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (User.Identity.Name == item.Vendedor & item.Aviso != null)
            {
                <tr>
                    <td style="font-size:14px">
                        <a asp-action="DetalhesJogo" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Nome)</a>
                    </td>
                    <td style="font-size:14px">
                        O jogo foi @Html.DisplayFor(modelItem => item.Aviso) !
                    </td>
                    <td style="font-size:14px">
                        @Html.DisplayFor(modelItem => item.Comprador)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>