@model IEnumerable<troca_games.Models.Jogo>

@{
    ViewData["Title"] = "Notificações";
}

<h1>Notificações</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aviso)
            </th>
            <th>
                Usuário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (User.Identity.Name == item.Vendedor & item.Aviso != null)
        {
                <tr>
                    <td>
                        <a asp-action="DetalhesJogo" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Nome)</a>
                    </td>
                    <td>
                        O jogo foi @Html.DisplayFor(modelItem => item.Aviso) !
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comprador)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>