@model IEnumerable<troca_games.Models.Jogo>

@{
    ViewData["Title"] = "Notificações";

    <style>
        body {
            background-color: rgb(248,248,248);
            font-family: Verdana;
        }
    </style>
}

<h1 style="font-size:30px">Notificações</h1>

<table class="table" style="margin-top:10px">
    <thead>
        <tr>
            <th>
                <p style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.Nome)</p>
            </th>
            <th>
                <p style="font-size:14px; margin:4px 0">@Html.DisplayNameFor(model => model.Aviso)</p>
            </th>
            <th>
                <p style="font-size:14px; margin:4px 0">Usuário</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (User.Identity.Name == item.Vendedor & item.Aviso != null)
            {
                <tr>
                    <td style="font-size:14px">
                        <p style="font-size:14px; margin:4px 0"><a asp-action="DetalhesJogo" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Nome)</a></p>
                    </td>
                    <td style="font-size:14px">
                        <p style="font-size:14px; margin:4px 0">O jogo foi @Html.DisplayFor(modelItem => item.Aviso) !</p>
                    </td>
                    <td style="font-size:14px">
                        <p style="font-size:14px; margin:4px 0">@Html.DisplayFor(modelItem => item.Comprador)</p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>