@model IEnumerable<troca_games.Models.Jogo>

@{
    ViewData["Title"] = @ViewBag.Usuario.Nome;
}

<h1>@ViewBag.Usuario.Nome</h1>
<h3>@ViewBag.Usuario.Email</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Console)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NegociacaoJogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondicaoJogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Console)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NegociacaoJogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CondicaoJogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
        </tr>
}
    </tbody>
</table>
