@model IEnumerable<troca_games.Models.Usuario>

@{
    ViewData["Title"] = "Minha Conta";
}

<h1>@User.Identity.Name</h1>

@foreach (var item in Model)
{
    @if (User.Identity.Name == item.Nome)
    {
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Email)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-outline-success">Editar</a>
            <a asp-action="Deletar" asp-route-id="@item.Id" class="btn btn-outline-danger">Deletar</a>
        </div>
    }
}
